/*
Group Members: Marthe Edme , Darryl Brooks
File Name: styles.css
Current Date: 10/31/2020
*/
/*
    The importance of the CSS Reset is to make sure you are working on a webpage that doesn't already have any styling.
    Selectors: body, header, nav, main, footer, img, h1
*/
/*CSS Reset*/
body,
header,
nav,
main,
footer,
img,
h1,
ul,
article,
section,
aside,
figure,
figcaption,
iframe,
video {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #ced4da;
	transition: background 1s linear;
	max-width: 1440px;
	margin: auto;
}
body.dark {
	background: #67697c;
}
.text-darkmode {
	color: white;
}
/* Home Page Styling*/
.home-picture {
	max-width: 100%;
	width: 40%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
}
#home-img:hover {
	animation: zoom 1s forwards;
}
@keyframes zoom {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
#home-caption {
	width: 80%;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: darkcyan;
}
ul {
	list-style: none;
}
iframe {
	padding: 10px;
	border: 3px solid red;
}
.darkmode-btn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: auto;
	height: auto;
	border-radius: 20px;
}
#contact-img {
	width: 30%;
	height: 100%;
}
#contact-img:hover {
	animation: zoom 1s forwards;
}
#contact-div {
	display: flex;
	padding: 2em;
	height: 10%;
}
#contact-content {
	width: 50%;
}
#welcome {
	text-align: center;
}
#welcome-text {
	padding-bottom: 2%;
}
/* Style rule for images */
img,
video {
	max-width: 100%;
	display: block;
}
/* Style rules for header content */
header {
	text-align: center;
	font-size: 1.5em;
	color: cadetblue;
}
li p {
	width: 70%;
}
header h1 {
	font-style: italic;
	font-family: 'Piazzolla', serif;
	text-shadow: 33px 3px 4px #b5b3cd;
}
h2 {
	color: darkcyan;
}

/* Style rules for navigation area */
nav {
	background: linear-gradient(darkcyan, #176666);
	display: flex;
	justify-content: space-evenly;
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	font-size: 2em;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
}

nav li a:hover {
	color: red;
}

/* Style rules for main content */
main {
	padding: 3%;
	overflow: auto;
	font-family: Verdana, Arial, sans-serif;
}
#main-img {
	height: 30%;
	width: 30%;
	max-width: 100%;
	box-shadow: 12px 10px 0px #a5b4bb;
	margin: 0 auto;
}
main p {
	font-size: 1.25em;
	font-family: 'Taviraj', serif;
	border-radius: 3px 5px 2px 4px;
}
aside {
	padding: 5px;
	margin-bottom: 5%;
	border: 2px solid darkcyan;
	border-radius: 5px;
	background-color: #b5b4bb;
	text-align: center;
}
/* Other images may need this*/
section img {
	/* height: 20.5em;
	width: 20; */
	max-width: 100%;
	box-shadow: 12px 10px 0px #a5b4bb;
}
.column {
	display: grid;
	grid-gap: 10px;
}
.column div {
	grid-row: 1 / span 2;
}
.column ul {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}
.column li {
	margin: auto;
}
.corner {
	border-radius: 10px;
	height: 300px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.faq-image img {
	margin-left: auto;
	margin-right: auto;
}
/* figure {
	width: 33%;
	height: 50%;
} */
figure a {
	text-decoration: none;
}
figure a:hover {
	color: rgb(205, 92, 92);
}
#caption-div {
	text-align: center;
	margin-top: 2%;
}
figcaption {
	margin-top: 3%;
	width: auto;
	height: auto;
	font-size: 1.1em;
	padding-bottom: 20px;
	/* text-align: center; */
}
/* Desktop Viewport: Style rules for form elements */
fieldset,
input,
textarea {
	margin-bottom: 2%;
}
fieldset {
	width: 70%;
	margin: 0 auto;
}
fieldset input {
	width: 22%;
	height: 50%;
	margin: 0 auto;
}
fieldset label {
	margin: 0 auto;
}
form {
	width: auto;
	text-align: center;
}
form #submit {
	margin: 0 auto;
	display: block;
	padding: 2%;
	background: darkcyan;
	color: #f6eee4;
	font-size: 1.25em;
	border-radius: 10px;
}
.form-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
}
embed {
	width: 100%;
	height: 100%;
}
/* Style rules for footer content */
footer {
	text-align: center;
	clear: left;
	padding: 1% 0% 1% 0%;
	background: linear-gradient(darkcyan, #176666);
}
footer a {
	color: #fff;
	text-decoration: none;
}
label {
	display: block;
	padding-top: 2%;
}
.creators-div {
	display: grid;
	grid-gap: 0px;
	text-align: center;
	padding-bottom: 3px;
}

.creators-div figure {
	grid-row: 1 / span 3;
	margin-left: 20%;
	height: 18em;
	width: 18.5em;
}
.creators-images {
	height: 18em;
	width: 18.5em;
}
.creaters-img {
	height: 0.5em;
	width: 0.5em;
}

#location {
	text-align: center;
}
/* Table Styles*/
table {
	border: none;
	border-collapse: collapse;
	margin: 0 auto;
}
th,
td {
	border: none;
	padding: 1%;
	text-align: center;
}
th {
	background-color: #2a1f14;
	color: white;
	font-size: 1.15em;
}
tr:nth-child(odd) {
	background: linear-gradient(darkcyan, #176666);
}
.social img {
	display: inline-block;
	padding: 1%;
}
/* Marthe's Image*/
.marthe-image {
	height: 100%;
	width: 50%;
}
.btn {
	grid-column: 1 / span 2;
}
.hamburger {
	display: none;
}
/*Media Query for Mobile Viewport*/
@media screen and (min-width: 550px), print {
	.grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 15px;
	}
	aside {
		font-weight: bold;
	}
	/*Tablet Viewport: Show tab-desk class, hide mobile class*/
	.tab-desk {
		display: block;
	}
	.mobile {
		display: none;
	}
	/*Tablet Viewport: Style rules for nav area*/

	nav li {
		border-top: none;
		display: inline-block;
		font-size: 1.25em;
	}
	nav li a {
		padding: 0.5em;
	}
	form {
		width: 70%;
		margin: 0 auto;
	}
}
/* Media Query for Tablet Device*/
@media screen and (max-width: 800px), print {
	.hamburger {
		display: block;
	}
	nav li {
		display: flex;
		flex-direction: column;
	}
	#nav {
		display: none;
	}
	.creators-div {
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.creators-div figure {
		margin: 0 auto 80% auto;
		display: block;
	}
	.column {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	iframe {
		height: auto;
		width: auto;
	}
	#helpful p,
	#faqs p {
		margin: 0 auto;
	}
	#contact-div {
		display: block;
		padding: 0;
	}
	#embed-div {
		margin: 0 auto;
	}
	#contact-content {
		margin: 0 auto;
		width: auto;
	}
	embed {
		width: auto;
		height: auto;
	}
}
/*Media Query for Desktop Viewport*/
@media screen and (min-width: 1000px), print {
	.grid {
		grid-template-columns: auto auto auto;
	}
	aside {
		grid-column: 1 / span 4;
	}
	nav {
		display: block;
	}
	/*Desktop Viewport: Style rules for nav area*/
	nav li {
		font-size: 1.5em;
	}
	nav li a {
		padding: 0.5em 1.5em;
	}
	/*Desktop Viewport: Style rules for main content*/
	#info ul {
		margin-left: 5%;
	}
	form {
		width: auto;
	}
}
